<h1>College Search</h1>
<p>Enter the college name you are searching for in the input field and press 'Search'.</p>
<p>The first 20 colleges found will be displayed on a google map.</p>
<%= form_with url: :college_search, method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
</br>

<% if @error.present? || @decorator.present? %>
  <% if @error.blank? %>
    <% if @decorator.legend.present? %>
      <%= image_tag @decorator.google_map_image %>

      <ul>
        <% @decorator.legend.each do |l| %>
          <li><%= "#{l[:letter]}: #{l[:name]}" %></li>
        <% end %>
      </ul>
    <% else %>
        No schools were found from the search.
    <% end %>
  <% else %>
    <%= "The following error was returned: #{@error}" %>
  <% end %>
<% end %>
